html {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.9em;
    font-weight: 240;
}

a {
    text-decoration: none;
    color: #1565c0;
}

a:hover {
    color: #217ee7;
}

body { 
    margin:0 auto; 
    max-width: 1200px; 
    max-height: 900px; 
    padding: 100px;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.05em;
    font-weight: 300;
} 

p {
    line-height: 1.5em;
}

#content {
    text-align: center;
    max-width: 1200px;
    padding: 10px;
    line-height: 1.6em;
}

#content-left {
    text-align: left;
    max-width: 1200px;
    padding: 10px;
    line-height: 1.6em;
}

.col-sm-12 {
    max-width: 75%;
}

.avatar {
    border-radius: 50%;
    width: 80%;
}

.gallery {
    width: 70%;
}

.icons {
    list-style-type: none;
    font-size: 1.05em;
    padding: 0;
    display: flex;
    justify-content: space-between;
    text-align: left;
    width: 75%;
    max-width: 180px;
    margin: 1em auto;
}

.icons li {
    display: inline;
    width: 21px;
}

.links li {
    display: inline;
    width: 90px;
}

.icons a {
    color: #1565c0;
}

.icons a:hover {
    color: #1565c0;
}
